# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [3]:
from scipy.stats import ttest_ind


# Hipótesis:
# H0: HP_dragón ≤ HP_hierba
# H1: HP_dragón > HP_hierba

dragon_hp = df[df['Type 1'] == 'Dragon']['HP']
grass_hp = df[df['Type 1'] == 'Grass']['HP']

# Perform a one-tailed t-test
t_stat, p_value = ttest_ind(dragon_hp, grass_hp, alternative='greater')

# Significance level
alpha = 0.05

print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

if p_value < alpha:
    print("Se rechaza la hipotesis nula. Los Pokemón de tipo Dragón poseen mas Hp que los de tipo Hierba.")
else:
    print("Fallo al rechazar hipotesis nula, NO hay una diferencia significante entre los HP de los Pokemón tipo Dragón e hierba.")

T-statistic: 3.5904
P-value: 0.0003
Se rechaza la hipotesis nula. Los Pokemón de tipo Dragón poseen mas Hp que los de tipo Hierba.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [4]:
from scipy.stats import ttest_ind

legendary_stats = df[df['Legendary'] == True]
non_legendary_stats = df[df['Legendary'] == False]

# Hipótesis:
# H0: Estadísticas entre Pokémon legendarios = Estadísticas entre Pokémon no legendarios.
# H1: Estadísticas entre Pokémon legendarios != Estadísticas entre Pokémon no legendarios.


# Prueba t para cada estadística
stats_to_test = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
results = {}

for stat in stats_to_test:
    t_stat, p_value = ttest_ind(legendary_stats[stat], non_legendary_stats[stat], equal_var=False)  # Asumimos varianzas distintas
    results[stat] = {'T-statistic': t_stat, 'P-value': p_value}

# Mostrar resultados
for stat, result in results.items():
    print(f"Stat: {stat}")
    print(f"  T-statistic: {result['T-statistic']:.4f}")
    print(f"  P-value: {result['P-value']:.4f}")
    if result['P-value'] < 0.05:
        print(f"  => Rechazamos H0: Diferencia significativa en {stat} entre Legendarios y No Legendarios.\n")
    else:
        print(f"  => No se rechaza H0: No hay diferencia significativa en {stat} entre Legendarios y No Legendarios.\n")

Stat: HP
  T-statistic: 8.9814
  P-value: 0.0000
  => Rechazamos H0: Diferencia significativa en HP entre Legendarios y No Legendarios.

Stat: Attack
  T-statistic: 10.4381
  P-value: 0.0000
  => Rechazamos H0: Diferencia significativa en Attack entre Legendarios y No Legendarios.

Stat: Defense
  T-statistic: 7.6371
  P-value: 0.0000
  => Rechazamos H0: Diferencia significativa en Defense entre Legendarios y No Legendarios.

Stat: Sp. Atk
  T-statistic: 13.4174
  P-value: 0.0000
  => Rechazamos H0: Diferencia significativa en Sp. Atk entre Legendarios y No Legendarios.

Stat: Sp. Def
  T-statistic: 10.0157
  P-value: 0.0000
  => Rechazamos H0: Diferencia significativa en Sp. Def entre Legendarios y No Legendarios.

Stat: Speed
  T-statistic: 11.4750
  P-value: 0.0000
  => Rechazamos H0: Diferencia significativa en Speed entre Legendarios y No Legendarios.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [5]:
df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df1.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [8]:
import numpy as np
from scipy.stats import ttest_ind

# Coordenadas del colegio y el hospital
school_coords = (-118, 37)
hospital_coords = (-122, 34)

# Función para calcular la distancia euclidiana
def euclidean_distance(longitude, latitude, target_coords):
    return np.sqrt((longitude - target_coords[0])**2 + (latitude - target_coords[1])**2)

# Calcular distancias
df1['distance_to_school'] = df1.apply(lambda row: euclidean_distance(row['longitude'], row['latitude'], school_coords), axis=1)
df1['distance_to_hospital'] = df1.apply(lambda row: euclidean_distance(row['longitude'], row['latitude'], hospital_coords), axis=1)

# Clasificar las casas en cercanas y lejanas
df1['is_close'] = (df1['distance_to_school'] < 0.50) | (df1['distance_to_hospital'] < 0.50)

# División del dataset
close_houses = df1[df1['is_close']]
far_houses = df1[~df1['is_close']]

# Prueba T de hipótesis (asumimos varianzas distintas)
# H0: mu_cerca >= mu_lejos
# H1: mu_cerca < mu_lejos
t_stat, p_value = ttest_ind(close_houses['median_house_value'], far_houses['median_house_value'], equal_var=False, alternative = "less")

# Resultados
print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

# Interpretación
if p_value < 0.05:
    print("Rechazamos la hipótesis nula: Las casas cercanas son significativamente más caras.")
else:
    print("No podemos rechazar la hipótesis nula: No hay evidencia de que las casas cercanas sean más caras.")

T-statistic: -17.1742
P-value: 0.0000
Rechazamos la hipótesis nula: Las casas cercanas son significativamente más caras.